
$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff0000;
$color-darkred: #8b0000;
$color-silver: #c0c0c0;

$color-theme-grey: #aaaaaa;
$color-theme-lightgrey: #cccccc;
$color-theme-verylightgrey: #eeeeee;
$color-theme-lightred: #f5a5a5;

$color-theme-delugeblue: #425570;
$color-theme-paledelugeblue: #b5c7de;
$color-theme-verypaledelugeblue: #ebeff9;
$color-theme-veryverypaledelugeblue: #f4f6fc;
