body {
  margin: 0;
  width: 780px;
  min-height: 200px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

#logo {
  margin: 3px;
}

#logo span {
  text-decoration: none;
  color: #425570;
  font-size: 2em;
  font-weight: bold;
}

#logo span:hover {
  color: #000000;
}
