@import 'clearfix';
@import 'colors';

body {
  width: 100%;
  color: $color-black;
}

#content {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid $color-theme-lightgrey;
  padding: 5px;
  max-width: 700px;
}

#options {
  margin: 0 auto;
  width: 600px;

  fieldset {
    margin-right: auto;
    margin-left: auto;
  }
}

label span {
  font-size: 75%;
}

table tr td:nth-child(1) {
  padding-right: 5px;
  width: 150px;
  text-align: right;
}

.buttons {
  @extend %clearfix;
  margin-top: 10px;

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

#logo span {
  display: inline-block;
}

.chrome-header a:hover,
.chrome-sub-header a:hover {
  color: $color-white;
}

.chrome-header {
  margin: 15px 0 0;
  border-top: 1px solid $color-theme-paledelugeblue;
  background: $color-theme-verypaledelugeblue;
  padding: 3px 0 2px 5px;
  width: 100%;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}

.chrome-sub-header {
  margin: 0 0 15px;
  border-bottom: 1px solid $color-theme-verypaledelugeblue;
  background: $color-theme-veryverypaledelugeblue;
  padding: 0.8em 0 0.8em 5px;
  width: 100%;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.e1f605 {
  display: inline-block;
  background: url('https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.2/assets/png/1f605.png');
  background-size: contain;
  width: 20px;
  height: 20px;
}
