@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("300-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  src: url("300-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("400-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: italic;
  src: url("400-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("600-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("600-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("700-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  src: url("700-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src: url("800-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: italic;
  src: url("800-italic.woff2") format("woff2");
}
